body {
  color: #ffffff;
  font-family: arial, sans-serif;
  background-color:#fff;
}

.wrapper {
  margin: 0 auto;
}

.result {
  align-items: center;
  border: solid 1px #ffffff;
  border-radius: 20px;
  display: flex;
  font-size: 4rem;
  font-weight: bold;
  justify-content: center;
  height: 15vh;
  margin: 0 auto 10px;
  text-align: center;
  width: 15vw;
  background-color: #77c2ff;
}

.number {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  width: 55vw;
  justify-content: center;
}

.number li {
  align-items: center;
  border: solid 1px #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  height: 5vh;
  margin: 4px;
  width: 5vw;
  font-weight: bold;
  background-color:  #77c2ff;
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .number {
    width: 100%;
  }
}

/* .number li {
  align-items: center;
  border: solid 1px #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 4px;
  width: 50px;
  font-weight: bold;
} */

.number li.hit {
  background: #ff6600;
  color: #fff;
}

.wrapper-button {
  /* padding: 20px 0 50px; */
  padding-top: 2vh;
  text-align: center;
}

.button {
  background:#008cff;
  border: solid 1px #ffffff;
  border-radius: 20px;
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  height: 10vh;
  /* line-height: 100px; */
  overflow: hidden;
  text-align: center;
  transition: .4s;
  vertical-align: middle;
  width: 10vw;
}

.button:hover {
  background:#1b95f8;
  cursor: pointer;
}

footer {
  text-align: center;
}